//Pokedex colors

$red: #F41D46;
$white: #DCEEDF;
$black: #312E27;
$green: #1A6139;
$dark-red: #2F2222;
$light-blue: #D3ECF7;
$orange: #D49648;
$background-lblue: #82C7C4;

$bubble-blue: #1C64A8;
$bubble-light: #369FBE;
$bubble-shine: #A7E8ED;

//Pokemon logo

$yellow: #FFC142;
$blue: #2E4791;

//Font-awesome path

$fa-font-path: '../../webfonts/';