@use '../abstracts/variables' as v;

footer{
    color: v.$white;
    background-color: v.$bubble-blue;
    font-family: 'Roboto Mono', monospace;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;

    @media (min-width: 500px){
        position: relative;
    }
    
    p{
        margin: auto;
    }
}