@use '../abstracts/variables' as v;

.main-nav{
    background-color: v.$bubble-blue;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0.5em;
    
    
    &__logocontainer{
        height: 40px;
        margin: auto 0;

        a{
            height: inherit;
        }

        img{
            height: inherit;
        }
    }
    
    &__menubtn{
        margin: auto 0;
        height: 35px;
        display: flex;
        justify-content: center;
        background-color: v.$red;
        color: v.$blue;
        border-radius: 2px;
        
        &:hover{
            opacity: 0.85;
            cursor: pointer;
        }
        &:active{
            opacity: 0.5;
        }

        i{
            padding: 0.5em;
        }
    }

    &__alert{
        display: none;
        background-color: #f495a7;
        color: v.$blue;
        position: absolute;
        top: 50px;
        right: 8px;
        align-items: center;
        border-radius: 2px;
        z-index: 1;
        outline: 2px solid v.$black;

        p{
            margin: auto;
            padding: 0.5em;
        }
        
        i{
            background-color: v.$red;
            padding: 0.5em;

            &:hover{
                cursor: pointer;
                color: v.$bubble-shine;
            }
        }
    }
}


form{
    display: flex;
    margin: auto;
    height: 35px;
    width: 60%;
    justify-content: center;

    input{
        background-color: v.$white;
        color: v.$black;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        border-radius: 2px 0 0 2px;
        padding: 0 10px;
    }

    button{
        background-color: v.$white;
        color: v.$black;
        position: relative;
        height: 100%;
        padding: 4px;
        border: none;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
    }
}
